@tailwind base;
@tailwind components;
@tailwind utilities;

.slideshow {
  margin: 0 auto;
  overflow: hidden;
}

.slide {
  display: inline-block;
  height: 300px;
  width: 100%;
  /* border-radius: 40px; */
}

.imageSlide {
  height: 400px;
  width: 100%;
  /* border-radius: 40px; */
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 5500ms;
}

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #6a0dad;
}

#slide{
  display : none
}

#all{
  color: #6a0dad;
  border: 1px solid #6a0dad;
}

#adjust{
  display: inline-block;
  margin-left: 100px;
}

.pageBg{
  /* background-color: #08AEEA;
  background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%); */
  /* background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%); */
  /* background-image: radial-gradient( circle 592px at 48.2% 50%,  rgba(255,255,249,0.6) 0%, rgba(160,199,254,1) 74.6% ); */
  /* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(87,195,155,1) 0%, rgba(155,218,71,0.66) 76.9% ); */
  /* background-image: linear-gradient( 106.9deg,  rgba(148,14,60,1) 60.9%, rgba(3,22,27,1) 122.3% ); */
  background-image: linear-gradient( 110.6deg,  rgba(184,142,252,1) 2.2%, rgba(104,119,244,1) 100.2% );
}

.sliderText{
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
  /* border-radius: 5%; */
}

.categoryBg{
  /* background-color: #08AEEA;
  background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%); */
  background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
  /* background-image: radial-gradient( circle 592px at 48.2% 50%,  rgba(255,255,249,0.6) 0%, rgba(160,199,254,1) 74.6% ); */
  /* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(87,195,155,1) 0%, rgba(155,218,71,0.66) 76.9% ); */
  /* background-image: linear-gradient( 106.9deg,  rgba(148,14,60,1) 60.9%, rgba(3,22,27,1) 122.3% ); */
  background-image: linear-gradient( 110.6deg,  rgba(184,142,252,1) 2.2%, rgba(104,119,244,1) 100.2% );
}

